.astro-code {
  @apply !bg-crust rounded w-fit p-3 m-2;
}

:not(.astro-code) > code {
  /* Fudge text color on latte, default text doesn't meet WCAG AAA */
  @apply bg-crust dark:text-text text-[#33364e] rounded p-1;
}

@media (prefers-color-scheme: dark) {
  span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
