---
import Button from "./button.astro";
import Dropdown from "./dropdown.astro";
---

<header
  class="flex flex-row items-center gap-2 w-full h-14 bg-mantle p-2 rounded-xl"
>
  <a href="/" class="contents">
    <img
      class="rounded-lg size-10"
      src="/favicon.png"
      aria-hidden="true"
      alt=""
    />
    <h1 class="text-xl">skyevg's site</h1>
  </a>
  <div class="grow"></div>
  <nav class="md:contents hidden">
    <Button href="/">Home</Button>
    <Button href="/ramblings">Ramblings</Button>
    <Button href="https://mastodon.skye.vg/@me">Fedi</Button>
    <Button href="https://github.com/vgskye">Github</Button>
  </nav>
  <Dropdown>
    <style>
      .item {
        @apply block hover:bg-surface2 hover:bg-opacity-50 text-lg rounded w-full py-2 px-3 text-center;
      }
    </style>
    <a href="/" class="item">Home</a>
    <a href="/ramblings" class="item">Ramblings</a>
    <a href="https://mastodon.skye.vg/@me" class="item">Fedi</a>
    <a href="https://github.com/vgskye" class="item">Github</a>
  </Dropdown>
</header>
